#experiment {
	background-color: transparent;
	border: 2px gray solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	z-index: 20;
}

#cursor {
	background-color: transparent;
	border: 2px gray solid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	z-index: 10;
	position: relative;
	top: -523px;
}

.centerDiv {
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}

input {
	margin: 5px;
}

#messages {
	color: #F24B5F;
	font-size: 1.5em;
}

.sys {
	color: #557EFA;
}

.green {
	color: #048046;
}

.topShift {
	position: relative;
	top: -523px;
}